{% extends 'photos/main.html' %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col justify-content-center">
              <div class="card mb-3" style="width: 30rem;">
                <img class="image" style="max-width: 100%; max-height: 100%;" 
                src="{{photo.image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{photo.category.name}}</h5>
                  <p class="card-text"><small class="text-muted">{{photo.description}}</small></p>
                </div>
              </div>
              <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
            </div>

        </div>
    </div>


{% endblock %}